<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flyingh.moguard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.flyingh.moguard" >
    </instrumentation>

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name="com.flyingh.moguard.app.MoGuardApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.flyingh.moguard.SplashActivity"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.flyingh.moguard.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.SecurityActivity"
            android:label="@string/title_activity_security" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.SecurityWizardActivity"
            android:label="@string/title_activity_security_wizard" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.SelectContactActivity"
            android:label="@string/title_activity_select_contact" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.AdvancedToolsActivity"
            android:label="@string/title_activity_advanced_tools" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.QueryPhoneNumberActivity"
            android:label="@string/title_activity_query_phone_number" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.AppLockActivity"
            android:label="@string/app_lock" >
        </activity>

        <service android:name="com.flyingh.moguard.service.PhoneNumberAttributionService" >
        </service>
        <service android:name="com.flyingh.moguard.service.AppLockService" >
        </service>
        <service android:name="com.flyingh.moguard.service.TaskManagerService" >
        </service>
        <service android:name="com.flyingh.moguard.service.KillBackgroundProcessesService" >
        </service>

        <receiver
            android:name="com.flyingh.moguard.receiver.PhoneCallReceiver"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.flyingh.moguard.receiver.BootCompletedReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.flyingh.moguard.receiver.SmsReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.flyingh.moguard.receiver.SecurityDeviceAdminReceiver" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/security_device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.flyingh.moguard.receiver.ScreenOffReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.flyingh.moguard.receiver.TaskManagerWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/task_manager_widget" />
        </receiver>

        <provider
            android:name="com.flyingh.moguard.provider.BlacklistProvider"
            android:authorities="com.flyingh.moguard.blacklistprovider"
            android:exported="false" >
        </provider>
        <provider
            android:name="com.flyingh.moguard.provider.AppLockProvider"
            android:authorities="com.flyingh.moguard.APP_LOCK_PROVIDER"
            android:exported="false" >
        </provider>

        <activity
            android:name="com.flyingh.moguard.PhoneAttributionPositionActivity"
            android:label="@string/title_activity_phone_attribution_position" >
        </activity>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.flyingh.moguard.BlacklistActivity"
            android:label="@string/title_activity_blacklist" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.AppManagerActivity"
            android:label="@string/title_activity_app_manager"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.AddAppLockActivity"
            android:label="@string/add_app_lock" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.LockScreenActivity"
            android:label="@string/title_activity_lock_screen"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.TaskManagerActivity"
            android:label="@string/title_activity_task_manager" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.TaskManagerSettingsActivity"
            android:label="@string/title_activity_task_manager_settings" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.AppPermissionsActivity"
            android:theme="@style/AppPermissionsTheme" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.CommonNumberActivity"
            android:label="@string/title_activity_common_number" >
        </activity>
        <activity
            android:name="com.flyingh.moguard.NetworkManagerActivity"
            android:label="@string/title_activity_network_manager" >
        </activity>
    </application>

</manifest>